﻿@model WebApplication1.Models.LayoutsModel
@{
    ViewBag.Title = "EditPrinters";
}

@section Head {
    <script>
        $(document).ready(function () {
            getLayoutDetails();
        });
        function getLayoutDetails() {
            if ($("#lb_layouts").val() != "") {
                $("#layoutname").val($("#lb_layouts").val());
            }
        };
    </script>
}
<h2>Edit Layouts</h2>
<hr />
<form action="LayoutPost" method="post">
    <table>
        <tr>
            <td colspan="4">@Html.ListBoxFor(m => m.SelectedLayouts, Model.Layouts, new { @id = "lb_layouts", @onchange = "getLayoutDetails()", @class = "highlist" })</td>
        </tr>
        <tr>
            <td><input id="layoutid" name="layoutid" type="hidden" required readonly /></td>
            <td class="table_label">Label Name:</td>
            <td><input id="layoutname" name="layoutname" type="text" required /></td>
        </tr>
    </table>
    <table class="smalltable">
        <tr>
            <td><input type="submit" name="action" value="Update" /></td>
            <td><input type="submit" name="action" value="New" /></td>
            <td><input type="submit" name="action" value="Delete" /></td>
        </tr>
    </table>
</form>