﻿@model WebApplication1.Models.PrintersModel
@{
    ViewBag.Title = "EditPrinters";
}

@section Head {
    <script>
        $(document).ready(function () {
            getPrinterDetails();
        });
        function getPrinterDetails() {
            if ($("#lb_printers").val() != "") {
                $("#printername").val($("#lb_printers").val());
            }
        };
    </script>
}
<h2>Edit Printers</h2>
<hr />
<form action="PrinterPost" method="post">
    <table>
        <tr>
            <td colspan="4">@Html.ListBoxFor(m => m.SelectedPrinters, Model.Printers, new { @id = "lb_printers", @onchange = "getPrinterDetails()", @class = "highlist" })</td>
        </tr>
        <tr>
            <td><input id="printerid" name="printerid" type="hidden" required readonly /></td>
            <td class="table_label">Printer Name:</td>
            <td><input id="printername" name="printername" type="text" required /></td>
        </tr>
    </table>
    <table class="smalltable">
        <tr>
            <td><input type="submit" name="action" value="Update" /></td>
            <td><input type="submit" name="action" value="New" /></td>
            <td><input type="submit" name="action" value="Delete" /></td>
        </tr>
    </table>
</form>